html {
    position: relative;
    min-height: 100%;
}

body {

    margin-bottom: 150px;


    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

    background-color: azure;
}



@media only screen and (max-width: 575px) {

    body {
        background-color:blanchedalmond;
    }



    
}

.navbar {
    background-color:rgb(127, 255, 195);
    text-align: right;
    padding-bottom: 20px;
    padding-top: 6px;
    padding-right: 40px;
    padding: inherit;
    
}


.dropdown-menu {
    margin:0;
}

.col-md-8 {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}


a.navbar-brand{
    padding: 5px;
    padding-top:15px;
    border: 0;
    background-color:rgb(127, 255, 195);
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}




img{
    float: left;
}




.dropdown-menu{
    text-align:center;
    padding:20px;

}
  
    
.nav-item{
    text-align: right;
    padding-top: 3px;
    padding: 15px;

}














































